name: nf-slack CI
on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  test:
    name: Run unit tests
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java_version: [17, 21]
        nextflow_version: ["25.04", "25.10"]

    steps:
      - name: Environment
        run: env | sort

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Setup Java ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.java_version}}
          architecture: x64
          distribution: "temurin"

      - name: Setup Nextflow ${{ matrix.nextflow_version }}
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.nextflow_version }}"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit hooks
        run: pre-commit run --all-files --show-diff-on-failure

      - name: Run unit tests
        run: make test
        env:
          GRADLE_OPTS: "-Dorg.gradle.daemon=false"

      - name: Install plugin
        run: make install

    outputs:
      test-status: ${{ job.status }}
